* {
  font-family: 'Jost', sans-serif;
}

:root {
  --accent-light: var(--game-developer-light);
  --accent-dark: var(--game-developer-dark);

  --accent-light-half-opacity: var(--game-developer-light-half-opacity);
  --accent-dark-half-opacity: var(--game-developer-dark-half-opacity);
}

html {
  font-size: clamp(14px, 1vw, 24px);
}

body {
  background-color: #000;
  color: var(--white);
  margin: 0;
}

h1 {
  font-size: clamp(32px, 2.618vw, 64px); 
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: clamp(20px, 1.618vw, 40px); 
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;

  margin: 0;
}

p {
  margin: 0;
}

img {
  pointer-events: none;
}

.with_stroke {
  position: relative;
  z-index: 1;
}

.with_stroke::after {
  -webkit-text-stroke: 0.5rem #000;
  content: attr(value);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  width: fit-content;
  margin: 0 auto;
}

.content {
  width: fit-content;
  margin: 2rem;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 45deg;
  inherits: false;
}

@property --gradient-dark-offset {
  syntax: '<percentage>';
  initial-value: 78%;
  inherits: false;
}

@property --gradient-light-offset {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

.gradient_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(var(--gradient-angle), rgba(0,0,0,1) 41%, var(--accent-dark) var(--gradient-dark-offset), var(--accent-light) var(--gradient-light-offset));
  z-index: -100;
  
  animation: gradient-animation 20s alternate infinite;
}

/* Mozilla Firefox doesn't support properties so need to keep constant gradient */
@-moz-document url-prefix() {

.gradient_background {
  background: linear-gradient(45deg, rgba(0,0,0,1) 41%, var(--accent-dark) 78%, var(--accent-light) 100%);
  animation: none;
}

}

.gradient_background::after {
  content: '';
  width: 100%;
  height: 100svh;
  position: absolute;
  
  background: linear-gradient(0, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  z-index: -99;
}

.xbox_button {
  width: 1.5rem;
  height: 1.5rem;

  background-color: var(--dark);
  border-radius: 50vw;
  border: 0.1rem solid #000;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  
  font-weight: 700;

  text-align: center;
  align-content: center;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

#xbox_button_b {
  color: var(--game-developer-light);
}

#xbox_button_a {
  color: var(--game-developer-light);
}

.back_button {
  position: absolute;
  margin: 2rem 4rem;
  z-index: 1;

  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);

  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.back_button:hover span {
  text-decoration: underline;
}

.back_button:hover .button_prompt {
  transform: scale(110%);
  transition: 150ms ease-out;
}

.avatar_big {
  position: relative;
  width: 100%;
  height: clamp(150px, 10vw, 280px);
}

#character_portrait {
  position: absolute;
  z-index: -2;
  bottom: 0;
  right: 0;

  height: 100%;

  transform: translateX(-300px);
  opacity: 0;

  transition: transform 200ms ease-out,
              opacity 150ms ease-out;
}

#character_title {
  position: absolute;
  bottom: 0;
  right: 10%;
  color: var(--accent-light);
  
  transform: translateX(-300px);
  opacity: 0;

  transition: transform 200ms ease-out,
              opacity 150ms ease-out;
}

.window {
  width: fit-content;
  height: fit-content;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;

  transform: translateY(300px);
  opacity: 0%;
  transition: 200ms ease-out;
}

.window_header {
  background-color: var(--accent-dark);
  width: clamp(280px, 15vw, 400px);

  display: flex;
  justify-content: center;
  position: relative;

  z-index: -1;

  animation: window-shadow-animation 5s alternate infinite;
}

.window_header * {
  text-shadow: 0px 0px 24px rgba(255, 255, 255, 0.5);
}

.window_body {
  background-color: var(--window-background);
  border: 4px solid var(--accent-dark);

  width: fit-content;
  padding: 1.5rem 2rem;

  animation: window-shadow-animation 5s alternate infinite;
}

.window_content {
  display: flex;
  gap: 2.5rem;
  height: fit-content;
}

.skill_points_table {
  border-collapse: collapse;
}

.skill_points_table td:last-child {
  width: min(14rem, 40svw);
}

.skill_content {
  display: flex;
  padding: 0.4rem 0.4rem;
}

.skill_icon {
  fill: var(--accent-light);
  -webkit-filter: drop-shadow( 0px 0px 24px var(--accent-light));
  filter: drop-shadow( 0px 0px 24px var(--accent-light));
}

.skill_point_bar {
  --_width: 0;
  --_transitionDelay: 0;

  width: 100%;
  height: 0.6rem;

  border: 2px solid var(--accent-dark);
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);

  background-color: var(--dark);
  position: relative;
}

.skill_point_bar::after {
  position: absolute;

  content: '';
  height: 100%;
  width: var(--_width);

  background-color: var(--accent-light);
  box-shadow: 4px 0px 4px rgba(0,0,0,0.25), 0px 0px 24px var(--accent-light-half-opacity);

  transition: width 500ms ease-in-out;
  transition-delay: var(--_transitionDelay);
}

#about {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.options_list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  max-width: 18rem;
}

.option_section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.option {
  position: relative;
}

.option input[type='radio'] {
  position: absolute;
  opacity: 0;
  z-index: -99;
}

.options_list input[type='radio']:focus+.option_button {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px var(--accent-light);

  transition: transform 150ms ease-out,
              box-shadow 100ms ease-out;

  text-decoration: underline;
}

.options_list input[type='radio']:checked+.option_button {
  background-color: var(--accent-dark);
}

.options_list input[type='radio']:checked+.option_button img {
  opacity: 1;
}

.option_button {
  padding: 0.6rem 1rem;
  max-width: 100%;

  border: 4px solid var(--accent-dark);
  box-shadow: 4px 4px 0px var(--accent-light);
  
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 10px;
}

.option_select_arrow {
  transform: rotateZ(180deg);
  opacity: 0;
}

.option_button img {
  height: 1rem;
}

.option_button span {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.option_button:hover {
  cursor: pointer;

  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px var(--accent-light);

  transition: transform 150ms ease-out,
              box-shadow 100ms ease-out;
}

.option_button:active {
  cursor: pointer;

  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px var(--accent-light);
  
  transition: transform 15ms ease-out,
              box-shadow 10ms ease-out;

  text-decoration: underline;
}

#skin_visual_container {
  display: grid;
}

.skin_visual {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;

  margin: auto;

  width: fit-content;
  height: fit-content;

  grid-column-start: 1;
  grid-row-start: 1;

  transition: transform 250ms ease-out,
              opacity   150ms ease-out;
}

.skin_visual img {
  --_size-scale: min(11rem, 90%);
  width:  var(--_size-scale);
}

#mission_select {
  align-items: end;
}

.mission_header {
  color: var(--accent-dark);
}

#mission_info_container {
  width: 40rem;
  max-width: 100%;

  margin: auto;
}

.mission_info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.mission_info h2 {
  text-shadow: 0px 0px 24px rgba(255, 255, 255, 0.5);
}

.mission_info_heading {
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;

  color: var(--accent-dark);
  margin-bottom: 10px;
}

.vertical_line {
  border: 1px solid var(--accent-dark);
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.mission_images {
  --_content_padding_x: 3rem;

  height: 18rem;
  min-width: 32rem;
  position: relative;

  padding: 0 var(--_content_padding_x);
}

.mission_images_content {
  overflow: hidden;
  position: relative;

  width: 100%;
  height: 100%;
  margin: 0 var(--content_padding_x);

  background-color: #000;
  border: 2px solid var(--accent-light);
}

.image_slider {
  display: flex;

  width: 100%;
  height: 100%;

  transition: transform 250ms ease-in-out;
}

.image_container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.image_container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image_lower_container {
  --_padding_x: 1rem;

  position: absolute;
  bottom: 0;

  width: calc(100% - 2 * var(--_padding_x));

  padding: 0.4rem var(--_padding_x);
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--accent-dark-half-opacity);
  backdrop-filter: blur(8px);

  font-size: min(0.7rem, 16px);
  text-transform: uppercase;
}

.pagination_dots {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.pagination_dot_radio {
  margin: 0;

  appearance: none;

  width: min(2svw, 1em);
  height: min(2svw, 1em);

  border-radius: 50%;

  background-color: var(--accent-dark);
  border: 0.1rem solid #000;

  position: relative;
}

.pagination_dot_radio::after {
  position: absolute;
  top: 0;
  left: 0;
  
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: var(--accent-light);
  z-index: 1;

  transform: scale(0);
  transition: 75ms ease-out;
}

.pagination_dot_radio:hover {
  cursor: pointer;
  border-color: var(--accent-light-half-opacity);
}

.pagination_dot_radio:checked::after {
  transform: scale(100%);
}

.image_nav_buttons {
  position: absolute;
  top: 0;
  left: calc(0.25 * var(--_content_padding_x));

  display: flex;
  width: calc(100% - 0.5 * var(--_content_padding_x));
  height: 100%;

  justify-content: space-between;
  align-items: center;
}

.image_nav_buttons button {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#image_nav_button_prev img,
#image_nav_button_next img {
  width: 2rem
}

#image_nav_button_prev img {
  transform: rotate(180deg);
}

.mission_tags {
  font-size: min(0.7rem, 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.mission_tag {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.other_info {
  display: flex;
  gap: 1.5rem;
  height:fit-content;
}

.other_info .vertical_line {
  margin: 0;
}

.challenge_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.challenge {
  position: relative;
  display: flex;
  gap: 10px;
}

.challenge_checkbox {
  height: 1rem;
  margin-top: 0.333rem;
}

.rewards {
  min-width: 12rem;
}

.play_section {
  display: flex;
  justify-content: end;
}

.glow_button {
  width: fit-content;
  padding: 1rem 1.2rem;
  z-index: 5;

  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark);

  display: flex;
  align-items: center;
  gap: 0.4rem;

  border: none;

  background-color: var(--accent-light);
  box-shadow: 4px 4px 0px var(--accent-dark),
              0px 0px 14px var(--accent-light-half-opacity);
}

.glow_button:hover {
  cursor: pointer;

  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px var(--accent-dark),
              0px 0px 30px var(--accent-light-half-opacity);
              
  transition: transform 150ms ease-out,
              box-shadow 100ms ease-out;
}

.glow_button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px var(--accent-dark),
              0px 0px 14px var(--accent-light-half-opacity);
              
  transition: transform 15ms ease-out,
              box-shadow 10ms ease-out;
}

.footer {
  width: 100%;
  color: var(--light-grey);

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}

.footer a {
  color: var(--light-grey);
  text-decoration: none;
}

.footer a:hover {
  color: var(--light-grey);
  text-decoration: underline;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 1px;
}

.links img {
  height: 0.8rem;
}

.links a:hover {
  transform: scale(120%);
  transition: transform 100ms ease-out;
}

@keyframes gradient-animation {
  0% {
    --gradient-angle: 45deg;
    --gradient-dark-offset: 60%;
    --gradient-light-offset: 90%;
  }

  25% {
    --gradient-dark-offset: 70%;
  }

  33% {
    --gradient-angle: 30deg;
    --gradient-light-offset: 95%;
  }
  
  75% {
    --gradient-angle: 60deg;
    --gradient-dark-offset: 60%;
  }

  80% {
    --gradient-light-offset: 90%;
  }

  100% {
    --gradient-angle: 45deg;
    --gradient-dark-offset: 78%;
    --gradient-light-offset: 100%;
  }
}

@keyframes window-shadow-animation {
  0% {
    box-shadow: 4px 4px 0px var(--accent-light),
                8px 8px 8px rgba(0,0,0,0.25);
  }

  100% {
    box-shadow: 4px 4px 0px var(--accent-light),
                10px 10px 16px rgba(0,0,0,0.25);
  }
}

@media screen and (max-width: 1005px) {
  .content {
    margin: 0;
  }

  .vertical_line {
    display: none;
  }

  .back_button {
    margin: 1rem 1.2rem;
  }

  .window_header {
    width: 100%;
  }

  .window_body {
    padding: 0.75rem 1rem;
  }
  
  .window_content {
    flex-direction: column;
    gap: 1rem;
    max-width: 80svw;
  }

  #about {
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    width: fit-content;
  }

  #about .window {
    width: 100%;
  }

  #about .window_body {
    width: calc(100% - 2rem - 8px);
  }

  #about .window_content {
    width: 100%;
  }

  .options_list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    max-width: none;
  }

  .mission_images {
    --_content_padding_x: 0;
    min-width: 100%;
    height: auto;
  }
  
  .image_lower_container {
    --_padding_x: 0.5em;
  }

  .image_nav_buttons {
    width: 100%;
  }

  .image_nav_buttons button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .other_info {
    flex-direction: column;
  }

  .glow_button {
    padding: 0.5rem 0.6rem;
  }

  .footer {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .portfolio_description {
    text-align: center;
  }
}