*,
*::before,
*::after {
  font-family: 'Jost', sans-serif;
  box-sizing: border-box;
}

:root {
  --accent-blend-duration: 1000ms;

  --accent-light: var(--game-developer-light);
  --accent-dark: var(--game-developer-dark);

  --accent-light-half-opacity: var(--game-developer-light-half-opacity);
  --accent-dark-half-opacity: var(--game-developer-dark-half-opacity);
}

html {
  font-size: clamp(14px, 1vw, 24px);
}

body {
  background-color: #000;
  color: var(--white);
  margin: 0;
}

h1 {
  font-size: clamp(32px, 2.618vw, 64px); 
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: clamp(16px, 1.618vw, 40px); 
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;

  margin: 0;
}

p {
  margin: 0;
}

img {
  pointer-events: none;
}

.pixel_perfect {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

button {
  color: inherit;
  text-align: inherit;
}

.text_accent_light {
  color: var(--accent-light);
  transition: color var(--accent-blend-duration) ease-out;
}

.text_accent_dark {
  color: var(--accent-dark);
  transition: color var(--accent-blend-duration) ease-out;
}

.with_stroke {
  position: relative;
  z-index: 1;
}

.with_stroke::after {
  -webkit-text-stroke: 0.5rem #000;
  content: attr(value);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  width: fit-content;
  margin: 0 auto;
}

.content {
  width: fit-content;
  margin: 2rem;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 45deg;
  inherits: false;
}

@property --gradient-dark-offset {
  syntax: '<percentage>';
  initial-value: 78%;
  inherits: false;
}

@property --gradient-light-offset {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

.gradient_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(var(--gradient-angle), rgba(0,0,0,1) 41%, var(--accent-dark) var(--gradient-dark-offset), var(--accent-light) var(--gradient-light-offset));
  z-index: -100;
  
  animation: gradient-animation 20s alternate infinite;

  transition: opacity var(--accent-blend-duration) ease-out;
}

/* Mozilla Firefox doesn't support properties so need to keep constant gradient */
@-moz-document url-prefix() {

.gradient_background {
  background: linear-gradient(45deg, rgba(0,0,0,1) 41%, var(--accent-dark) 78%, var(--accent-light) 100%);
  animation: none;
}

}

.gradient_background::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  
  background: linear-gradient(0, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  z-index: -99;
}

.xbox_button {
  width: 1.5rem;
  height: 1.5rem;

  background-color: var(--dark);
  border-radius: 50vw;
  border: 0.1rem solid #000;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  
  font-weight: 700;

  text-align: center;
  align-content: center;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

#xbox_button_b {
  color: var(--film-maker-light);
}

#xbox_button_a {
  color: var(--game-developer-light);
}

.back_button {
  position: absolute;
  margin: 2rem 4rem;
  z-index: 1;

  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);

  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.back_button:hover span {
  text-decoration: underline;
}

.back_button:hover .button_prompt {
  transform: scale(110%);
  transition: 150ms ease-out;
}

.avatar_big {
  position: relative;
  width: 100%;
  height: clamp(150px, 10vw, 280px);
}

#character_portrait {
  position: absolute;
  z-index: -2;
  bottom: 0;
  right: 0;

  height: 100%;
}

#character_title {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.transition_on_load_horizontal {
  transform: translateX(-300px);
  opacity: 0;
  
  transition: transform 300ms ease-out,
              opacity 250ms ease-in;
}

.transition_on_load_vertical {
  transform: translateY(300px);
  opacity: 0;

  transition: transform 300ms ease-out,
              opacity 250ms ease-in;
}

.window {
  width: fit-content;
  height: fit-content;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.window_header {
  background-color: var(--accent-dark);
  width: clamp(280px, 15vw, 400px);

  display: flex;
  justify-content: center;
  position: relative;

  z-index: -1;

  box-shadow: 4px 4px 0px var(--accent-light);
}

.window_header * {
  text-shadow: 0px 0px 24px rgba(255, 255, 255, 0.5);
}

.window_body {
  background-color: var(--window-background);
  border: 4px solid var(--accent-dark);

  width: fit-content;
  padding: 1.5rem 2rem;

  box-shadow: 4px 4px 0px var(--accent-light);

  overflow: hidden;
}

.window_content {
  display: flex;
  gap: 2.5rem;
}

.skill_points_table {
  border-collapse: collapse;
}

.skill_points_table td:last-child {
  width: clamp(8rem, 40svw, 14rem);
}

.skill_content {
  display: flex;
  padding: 0.4rem 0.4rem;
}

.skill_icon {
  fill: var(--accent-light);
  -webkit-filter: drop-shadow( 0px 0px 24px var(--accent-light));
  filter: drop-shadow( 0px 0px 24px var(--accent-light));
}

.skill_point_bar {
  --_width: 0;
  --_transitionDelay: 0;

  width: 100%;
  height: 0.8rem;

  border: 2px solid var(--accent-dark);
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);

  background-color: var(--dark);
  position: relative;
}

.skill_point_bar::after {
  position: absolute;

  content: '';
  height: 100%;
  width: var(--_width);

  background-color: var(--accent-light);
  box-shadow: 4px 0px 4px rgba(0,0,0,0.25), 0px 0px 24px var(--accent-light-half-opacity);

  transition: width 500ms ease-in-out;
  transition-delay: var(--_transitionDelay);
}

#about {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.options_list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  max-width: 18rem;
}

.options_list_toggle {
  display: none;
}

.option_section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.option {
  position: relative;
}

.option input[type='radio'] {
  position: absolute;
  opacity: 0;
  z-index: -99;
}

.options_list input[type='radio']:focus+.option_button {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px var(--accent-light);

  transition: transform 150ms ease-out,
              box-shadow 100ms ease-out;

  text-decoration: underline;
}

.options_list input[type='radio']:checked+.option_button {
  background-color: var(--accent-dark);
}

.options_list input[type='radio']:checked+.option_button img {
  opacity: 1;
}

.option_button {
  padding: 0.6rem 1rem;
  max-width: 100%;

  border: 4px solid var(--accent-dark);
  box-shadow: 4px 4px 0px var(--accent-light);
  
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 10px;
}

.option_select_arrow {
  transform: rotateZ(180deg);
  opacity: 0;
}

.option_toggle_arrow {
  transform: rotateZ(90deg);
}

.option_button img {
  height: 1rem;
}

.option_button span {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.option_button:hover {
  cursor: pointer;

  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px var(--accent-light);

  transition: transform 150ms ease-out,
              box-shadow 100ms ease-out;
}

.option_button:active {
  cursor: pointer;

  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px var(--accent-light);
  
  transition: transform 15ms ease-out,
              box-shadow 10ms ease-out;

  text-decoration: underline;
}

.option_info_panel {
  display: grid;
  margin: auto;
}

#skin_info_container {
  grid-auto-columns: 16rem;
}

.option_info {
  grid-column-start: 1;
  grid-row-start: 1;

  transition: transform 250ms ease-out,
              opacity   300ms ease-in,
              position  250ms linear;
}

.option_info[tabindex='-1'] * {
  visibility: hidden;
}

.skin_visual .option_info_container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  align-items: center;
}

.skin_visual img {
  height: 8rem;
  object-fit: contain;
}

#mission_select {
  align-items: end;
}

#mission_info_container {
  width: 40rem;
  max-width: 100%;

  margin: 0 auto;
}

.mission_info {
  position: relative;
}

.mission_info .option_info_container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.mission_info h2 {
  text-shadow: 0px 0px 24px rgba(255, 255, 255, 0.5);
}

.mission_info_heading {
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;

  margin-bottom: 10px;
}

.vertical_line {
  border: 1px solid var(--accent-dark);
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.mission_images {
  --_content_padding_x: 3rem;

  height: 18rem;
  min-width: 32rem;
  position: relative;

  padding: 0 var(--_content_padding_x);
}

.mission_images_content {
  width: 100%;
  height: 100%;
  margin: 0 var(--content_padding_x);

  background-color: #000;
  border: 2px solid var(--accent-light);
  box-shadow: 0px 0px 14px var(--accent-light-half-opacity);

  position: relative;
}

.slider_mask {
  overflow-x: scroll;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  
  width: 100%;
  height: 100%;
}

.hide_scrollbar {
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hide_scrollbar::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}

.slider {
  display: flex;
  height: 100%;
  transition: transform 250ms ease-in-out;
}

.slider_container {
  width: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.image_container {
  display: flex;
  justify-content: center;
}

.image_container img {
  width: 100%;
  object-fit: contain;
}

.image_lower_container {
  --_padding_x: 1rem;

  position: absolute;
  bottom: 0;

  width: 100%;

  padding: 0.4rem var(--_padding_x);
  
  background-color: var(--accent-dark-half-opacity);

  font-size: min(0.7rem, 16px);
  text-transform: uppercase;
}

.slider_dots {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0.4rem var(--_padding_x);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.slider_dot_radio:hover {
  cursor: pointer;
}

.image_slider_dot {
  margin: 0;

  -webkit-appearance: none;
  appearance: none;

  width: min(2svw, 1.25em);
  height: min(2svw, 1.25em);

  border-radius: 50%;

  background-color: var(--accent-dark);
  border: 0.2em solid #000;

  position: relative;

  transition: 75ms ease-out;
}

.image_slider_dot::after {
  position: absolute;
  top: 0;
  left: 0;
  
  content: '';
  width: 100%;
  height: 100%;
  border-radius: inherit;

  background-color: var(--accent-light);
  z-index: 1;

  transform: scale(0);
}

.image_slider_dot:hover {
  border-color: var(--accent-light-half-opacity);
}

.image_slider_dot:checked::after {
  transform: scale(100%);
  transition: 300ms cubic-bezier(0.5, 0.69, 0.75, 2);
}

.difficulty_text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0.4rem var(--_padding_x);

  display: flex;
  align-items: center;
  justify-content: end;
}

.nav_buttons {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;

  padding: 0 calc(0.25 * var(--_content_padding_x));

  justify-content: space-between;
  align-items: center;
}

.nav_buttons button {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#nav_button_prev img,
#nav_button_next img {
  width: 2rem
}

#nav_button_prev img {
  transform: rotate(180deg);
}

.mission_tags {
  font-size: min(0.7rem, 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.mission_tag {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.other_info {
  display: flex;
  gap: 1.5rem;
  height:fit-content;
}

.other_info .vertical_line {
  margin: 0;
}

.challenge_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.challenge {
  position: relative;
  display: flex;
  gap: 10px;
}

.challenge_checkbox {
  height: 1rem;
  margin-top: 0.333rem;
}

.rewards {
  min-width: 12rem;
}

.play_section {
  width: 100%;

  display: flex;
  justify-content: end;
}

.glow_button {
  width: fit-content;
  padding: 1rem 1.2rem;
  z-index: 5;

  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  border: none;

  background-color: var(--accent-light);
  box-shadow: 4px 4px 0px var(--accent-dark),
              0px 0px 14px var(--accent-light-half-opacity);

  transition: background-color var(--accent-blend-duration) ease-out,
              box-shadow var(--accent-blend-duration) ease-out;
}

.glow_button:hover {
  cursor: pointer;

  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px var(--accent-dark),
              0px 0px 30px var(--accent-light-half-opacity);
              
  transition: transform 150ms ease-out,
              box-shadow 100ms ease-out;
}

.glow_button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px var(--accent-dark),
              0px 0px 14px var(--accent-light-half-opacity);
              
  transition: transform 15ms ease-out,
              box-shadow 10ms ease-out;
}

.footer {
  width: 100%;
  color: var(--light-grey);

  position: relative;
}

.resume_link_container {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.resume_link_container a {
  color: var(--light-grey);
  text-decoration: none;
}

.resume_link_container a:hover {
  color: var(--light-grey);
  text-decoration: underline;
}

.links {
  position: absolute;

  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);

  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;

  font-size: 1px;
}

.links img {
  height: 0.8rem;
}

.links a:hover {
  transform: scale(120%);
  transition: transform 100ms ease-out;
}

.character_select_content {
  width: min(70rem, 100svw);
  margin: 2rem auto;
  gap: 1rem;
}

.character_select_header {
  width: 100%;
  padding: 0 2rem;

  display: flex;
  justify-content: end;
}

.character_select_main {
  --_content_padding_x: 37.5%;
  position: relative;
}

.character_slider {
  display: flex;
  overflow-x: scroll;
}

.character_slide {
  width: 100%;
  flex-shrink: 0;
}

.character_panel {
  width: fit-content;
  margin: auto;
}

.character_panel .avatar_big {
  height: clamp(75px, 5vw, 140px);
}

.character_panel img {
  height: 350%;
}

.character_panel .window {
  margin-left: 17rem;
}

.character_panel .window_body {
  padding: 2rem 2.5rem;
}

.character_panel .window_content {
  width: 30rem;

  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.character_panel p {
  max-width: 25rem;
}

.character_stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.character_stats_grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem 1rem;
}

.stat {
  display: flex;
}

.positive,
.negative {
  width: 1.5rem;
  text-align: center;
}

.positive {
  color: var(--game-developer-light);
}

.negative {
  color: var(--film-maker-light);
}

.character_select_lower_container {
  --_padding_x: 1rem;

  position: absolute;
  bottom: -2rem;

  width: 100%;
  height: fit-content;
}

.character_select_lower_container .slider_dots {
  gap: 1rem;
}

.character_select_dot {
  margin: 0;

  -webkit-appearance: none;
  appearance: none;
  
  width: clamp(3rem, 4svw, 4rem);
  height: clamp(3rem, 4svw, 4rem);

  background-image: var(--_character-avatar);
  background-size: cover;
  background-position: center;
  opacity: 50%;

  position: relative;

  transition: opacity 200ms ease-out;
}

.character_select_dot:hover {
  transform: scale(110%);
  transition: transform 50ms ease-out;
}

.character_select_dot:checked {
  opacity: 1;
}

.character_select_dot:checked::after {
  position: absolute;
  bottom: -15%;

  width: 100%;
  height: fit-content;
  padding: 0 0.5rem;
  
  content: '1P';
  font-size: 0.8rem;
  font-weight: 700;
  font-style: italic;
  text-align: end;

  color: var(--white);
  background-color: var(--accent-light-half-opacity);

  --_blend-duration: calc(var(--accent-blend-duration) / 2);
  transition: background-color var(--_blend-duration) ease-out;
}

.window_body,
.image_lower_container,
.character_select_dot:checked::after {
  --_blur-amount: 14px;
  
  /* Apparently transform indicates to the browser that these should be hardware accelerated */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  /* Apparently safari needs this for blurring to work :/ */
  -webkit-backdrop-filter: blur(var(--_blur-amount));
  backdrop-filter: blur(var(--_blur-amount));
}

@keyframes gradient-animation {
  0% {
    --gradient-angle: 45deg;
    --gradient-dark-offset: 60%;
    --gradient-light-offset: 90%;
  }

  25% {
    --gradient-dark-offset: 70%;
  }

  33% {
    --gradient-angle: 30deg;
    --gradient-light-offset: 95%;
  }
  
  75% {
    --gradient-angle: 60deg;
    --gradient-dark-offset: 60%;
  }

  80% {
    --gradient-light-offset: 90%;
  }

  100% {
    --gradient-angle: 45deg;
    --gradient-dark-offset: 78%;
    --gradient-light-offset: 100%;
  }
}

@media screen and (max-width: 1005px) {
  .content {
    margin: 0;
  }

  .vertical_line {
    display: none;
  }

  .back_button {
    margin: 1rem 1.2rem;
  }

  .window_header {
    width: 100%;
  }

  .window_body,
  .character_panel .window_body {
    padding: 0.75rem 1rem;
  }
  
  .window_content {
    flex-direction: column;
    gap: 1rem;
    max-width: 80svw;
  }

  #about {
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    width: fit-content;
  }

  #about .window {
    width: 100%;
  }

  #about .window_body {
    width: 100%;
  }

  #about .window_content {
    width: 100%;
  }

  .options_list {
    max-width: none;
  }

  .mobile_hidden {
    display: none;
  }

  .options_list_toggle {
    display: flex;
    align-items: center;
    width: 100%;

    border: none;
    background-color: transparent;
  }

  .options_list_toggle h2 {
    flex-grow: 1;
    text-shadow: 0px 0px 24px rgba(255, 255, 255, 0.5);
  }

  .options_list_toggle:active h2 {
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
    transform: translate(2px, 2px);

    transition: transform 15ms ease-out;
  }

  .options_list_toggle img {
    height: 0.8rem;
    transition: transform 300ms ease-in-out;
  }

  .mission_info h2 {
    display: none;
  }

  .mission_images {
    --_content_padding_x: 0;
    min-width: 100%;
    height: auto;
  }
  
  .image_lower_container {
    --_padding_x: 0.5em;
  }

  .nav_buttons button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .other_info {
    flex-direction: column;
  }

  .glow_button {
    padding: 0.5rem 0.6rem;
  }

  .links {
    gap: 1rem;
  }
  
  .character_panel .avatar_big {
    height: 9rem;
  }

  .character_panel .avatar_big img {
    height: 10rem;
  }

  .character_panel h1 {
    font-size: clamp(24px, 2.618vw, 48px); 
  }

  .character_select_content {
    display: flex;
    flex-direction: column;
  }
  
  .character_panel img {
    height: 150%;
  }

  .character_panel .window {
    margin-left: 0;
  }

  .character_panel p {
    width: 100%;
    max-width: none;
  }

  .character_select_main .nav_buttons {
    height: 110%;
    align-items: end;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1.5rem;

    margin-bottom: 2rem;
  }

  .resume_link_container,
  .links {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .links {
    gap: 1.5rem;
  }

  .portfolio_description {
    text-align: center;
  }

  .play_section {
    justify-content: center;
  }

  .play_section > .glow_button {
    width: 100%;
  }

  .image_slider_dot {
    border: 0.1em solid #000;
  }
}

@media screen and (max-width: 406px) {
  .nav_buttons {
    display: none;
  }
}